/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    font: "JetBrains Mono";
    bg0:    #110b0d;
    bg1:    #110b0d;
    bg2:    #110b0d;
    bg3:    #515b5c;

    fg0:    #f6d56a;
    fg1:    #f6d56a;
    fg2:    #f6d56a;
    fg3:    #f6d56a;

}

@import "template/rounded-template.rasi"
