/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */

* {
    font: "JetBrains Mono";
    bg0:    rgba(17,28,24,1);
    bg1:    rgba(17,28,24,1);
    bg2:    #111c18;
    bg3:    #549E6A;

    fg0:    #afb28a;
    fg1:    #afb28a;
    fg2:    #afb28a;
    fg3:    #afb28a;

}

@import "template/rounded-template.rasi"
